
nav>a{
    font-size: 1.25em;
    color:darkblue;
    text-decoration: none;
}
p{
    color:green;
}
footer{
    color: black;
}
footer.change1{
    color: gray;
}

span.changecol{
    color:red;
}
span.changeco2{
    color:purple;
    font-weight: bold;

}

#hathed{
    color:red
}
#sweathed{
    color:gray;
}
#unihed{
    color:darkblue;
}
